.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.googlesignin {
    float: none;
    position: static;
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    box-shadow: none !important;
}

/*
.googlesignin {
    float: none;
    position: static;
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-left: 12% !important;
    padding-right: 12% !important;
}
*/

.page-container {
    minheight: 700;
    padding: '1em 0em';
}

.profpic {
    height: 100px;
    width: 100px;
    border-radius: 10%;
}
.profpic-mini {
    height: 40px;
    width: 40px;
    border-radius: 10%;
}
